:javascript
  $(function() {
    setup_person_select();
  });
  
  function setup_person_select() {
    $('#select_person').change(function() {
      $('#personnel_report').submit();
    });
  }

%h1.page_title
  Personnel Report

#vehicles_info
  Please select a person to generate a report.
  %br
  %form#personnel_report{:action => '/personnel/personnel_report'}
    %label{:for => 'select_person'}
      Generate report for:
    %select#select_person{:name => 'select_person'}
      %option{:selected => true, :value => ''}
      - @people.each do |p|
        %option{:value => p.id}
          = p.name