#vehicle_detail
  Data on all vehicles:
  %table#vehicles_table
    %tr
      %th
        Make
      %th
        Model
      %th
        Cost
    - @vehicles.each do |v|
      %tr
        %td
          = v.make&.value
        %td
          = v.vehicle_model
        %td
          = v.cost