%script{:type => 'text/javascript', :src => '/js/car_example.js'}

%h1.page_title
  Vehicle Information

#vehicles_info
  Please select a vehicle to view details, or click the button below to see info on all vehicles.
  %br
  %label{:for => 'vehicle_details'}
    View Vehicle Details:
  %select#vehicle_details{:name => 'vehicle_details'}
    %option{:name => 'vehicle_details', :selected => true}
    - @vehicles.each do |v|
      %option{:value => v.vehicle_model}
        = v.vehicle_model
  %br
  %input#vehicles_table{:type => 'button', :name => 'vehicles_table', :value => "View All Vehicles"}
  %br
  %img{:src => '/images/batmobile.png'}