/ This CSS will be overridden by the more specific matcher in car_example.css
:css
  @import "/css/car_example.css";
  span {display:none}

#vehicle_detail
  %span.make_visible
    Data on selected vehicle:
  %br
  = "Make: #{@vehicle.make}"
  %br
  = "Model: #{@vehicle.vehicle_model}"
  %br
  = "Cost: #{@vehicle.cost}"