!!! Strict

%html{:lang => 'en'}
  %head
    %meta{:'http-equiv'=>'Content-Type', :content =>'text/html; charset=UTF-8'}
    -# Bad value for html5, but necessary for older IEs
    %meta{:'http-equiv'=>'cache-control', :content => 'no-cache'}
    -# 'expires' is not used in HTML5 (error in w3 validator). IE may treat 0 as cache never expires, other browsers treate as no-cache.
    -# -1 for most browsers means never cache, but IE will have errors with it.
    %meta{:'http-equiv'=>'expires', :content => '0'}
    -# The pragma stopped being used as of IE 5
    -#%meta{:'http-equiv'=>'pragma', :content => 'no-cache'}
    - if flash[:trigger_action_download]
      / Current implementation of file download uses meta tag with the URL being the output of this HAML file.
      / alternatively could implement JQuery download here if meta tag doesn't work out
      %meta{:'http-equiv'=>'refresh', :content => "0; URL=#{flash[:trigger_action_download]}"}
    
    %style{:type => 'text/css' }
      @import "/css/screen.css";
      @import "/css/screen_mods.css";
      @import "/css/ui-lightness/jquery-ui-1.10.3.custom.min.css";
      @import "/css/changes.css";
      @import "/css/jquery-ui-timepicker-addon.css";
      @import "/js/jq/dist/themes/default/style.min.css";
      @import "/css/tree_viewer.css";
      @import "/js/jq/tooltipster/dist/css/tooltipster.bundle.min.css";
      
    - if Gui.option(:disable_external_resources)
      %script{:type => 'text/javascript', :src => '/js/prometheus/disabled_scripts.js'}  
    -else
      - # MathJax Script
      %script{:type => 'text/javascript', :src => "/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML", :defer => true}
      / %script{:type => 'text/javascript', :src => 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML', :defer => true}
      - # Test Scripts for CKEditor Wysiwg editor
      %script{:type => 'text/javascript', :src => "/ckeditor/ckeditor.js", :defer => true}
      / %script{:type => 'text/javascript', :src => "//cdn.ckeditor.com/4.5.9/standard/ckeditor.js", :defer => true}
    
    - # JQuery and JQueryUI
    %script{:type => 'text/javascript', :src => '/js/jq/jquery-1.10.2.min.js'}
    %script{:type => 'text/javascript', :src => '/js/jq/jquery-migrate-1.2.1.min.js'}
    %script{:type => 'text/javascript', :src => '/js/jq/jquery-ui-1.10.3.custom.min.js'}
    %script{:type => 'text/javascript', :src => '/js/jq/dist/jstree.min.js', :defer => true}
    - # Plugins
    %script{:type => 'text/javascript', :src => '/js/jq/jquery-ui-timepicker-addon.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/jq/jquery.mousewheel.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/jq/jquery.blockUI.min.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/js_utils.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/imgpreview.jquery.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/garlic.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/jquery.mark.js'}
    

    - # This file and any other ES6 javascript has to be compiled with Babel or some other transpilor to work with old browsers like the capybara browser
    - if Gui.option(:mode) == :dev
      %script{:type => 'text/javascript', :src => '/js/prometheus/es6_classes.js', :defer => true}
      %script{:type => 'text/javascript', :src => '/js/prometheus/load_spec.js', :defer => true}
    - else
      %script{:type => 'text/javascript', :src => '/js/prometheus/compiled-es6.js', :defer => true}
      
    - # Prometheus JS
    %script{:type => 'text/javascript', :src => '/js/prometheus/association_management.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/change_listeners.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/clone.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/collection.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/collection_position.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/column_sorting.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/common.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/compatibility.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/concurrency.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/deleting.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/filtering.js', :defer => true}    
    %script{:type => 'text/javascript', :src => '/js/prometheus/gb_widgets.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/load_functions.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/multi_simple_widget.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/organizer.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/pagination.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/richtext.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/saving.js', :defer => true}
    - # %script{:type => 'text/javascript', :src => '/js/prometheus/serialize_map.js'}
    %script{:type => 'text/javascript', :src => '/js/prometheus/syntax_highlighting.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/timestamp_widget.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/uniqueness.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/tree_view.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/form_draft_saving.js', :defer => true}
    %script{:type => 'text/javascript', :src => '/js/prometheus/misc_widget_setup.js', :defer => true}
    - # main.js
    %script{:type => 'text/javascript', :src => '/js/prometheus/main.js', :defer => true}
    
    - # %script{ :data_main => '/js/main', :src => '/js/require.js'}
    
    %script{:type => 'text/javascript', :src => '/js/jq/tooltipster/dist/js/tooltipster.bundle.min.js', :defer => true}
  
    - if Gui.option(:favicon)
      / %link{:rel => 'icon', :type => 'image/png', :href => Gui.option(:favicon)}
      %link{:rel => 'shortcut icon', :href => Gui.option(:favicon)}
      
    %title
      Tire Fire
  
  %body.bp
    %input.refresh_marker{:type => 'text', :value => 'no', :style => 'display:none'}
    .app_title_and_user_information
      %h1.app_title
        This is a Custom Layout for Car Example
      .user_information
        - if logged_in?
          #{user.login}
          - if session[:organization]
            (#{session[:organization].name})
    .clear
    .container
      #nav_bar
        - home_link_shown = false
        - unless homeless_urls.include?(request.fullpath)
          - home_link_shown = true
          %a{:href => Gui.option(:home_page)[:url]} #{Gui.option(:home_page)[:name]}
          |
        - if Gui.option(:custom_home_page) && Gui.option(:show_advanced_view)
          %a{:href => '/'} Advanced View
        - if Gui.option(:clear_view_selection_page)
          %a{:href => '/clear_view_selection'} Clear View
        -if !Gui.option(:workflow_options).empty?
          |
          %a{:href => '/workflow'} Workflow
      #user_bar
        - if logged_in?
          - CUSTOM_PAGES.each do |page_key, page_info|
            - if page_info[:show_in_nav_bar]
              %a{:href => page_info[:url]}
                = page_info[:name]
              |
          %a{:href => '/gb_users/preferences'} Preferences
          - if session[:is_admin]
            |
            %a{:href => '/gb_users/site_admin'} Manage Site
          - if session[:is_admin]
            |
            %a{:href => "/gb_users/user_admin/"} Manage Users
          |
          %a{:href => '/gb_users/logout'} Log Out
        - else
          %a{:href => '/gb_users/login'} Login
          - if LOCAL_AUTHENTICATION
            |
            %a{:href => '/gb_users/register'} Register

      #wrapper
        .message_box{:style => 'border-top-left-radius: 10px; border-top-right-radius: 10px; overflow:hidden;'}
          -if flash[:message]
            #message
              = flash[:message]
          - if @message_error
            .message_error
              = @message_error
          - flash_error_messages = flash[:error_messages]; flash[:error_messages] = []
          - if flash_error_messages && !flash_error_messages.empty?
            - flash_error_messages.each do |error_message|
              .message_error
                = error_message
          - flash_info_messages = flash[:info_messages]; flash[:info_messages] = []
          - if flash_info_messages && !flash_info_messages.empty?
            - flash_info_messages.each do |info_message|
              .message_success
                = info_message
        .content
          =@content

          .clearfix
      #footer
        #prometheus_statement{:style => "color:white; text-align: center;"}
          &copy; Prometheus Computing, LLC
          &nbsp
          = Time.now.strftime("%Y")
        - if Gui.option(:mode) == :dev
          #spec_load_button{:style => "text-align: center;"}
            %br
            %button.spec_loader{:type => "button", :onClick => "load_spec()"} Reload Spec
  
  - if flash[:uniqueness_popup]
    = flash[:uniqueness_popup]
  - elsif flash[:action_popup]
    = flash[:action_popup]
  - elsif flash[:concurrency_popup]
    = flash[:concurrency_popup]
  - if html_script_string = Gui.option(:string_html_scripts)
    = html_script_string